<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Management</title>
</head>
<body>
  <h1>Welcome, <%= player.name %>!</h1>
  <h2>Your Resources:</h2>
  <ul>
    <li>Money: <%= player.resources.money %></li>
    <li>Energy: <%= player.resources.energy %></li>
  </ul>

  <h2>Buildings:</h2>
  <form id="buildForm">
    <label for="buildingType">Choose a building:</label>
    <select id="buildingType" name="buildingType">
      <% availableBuildings.forEach(building => { %>
        <option value="<%= building.type %>"><%= building.type %></option>
      <% }) %>
    </select>
    <button type="submit">Build</button>
  </form>

  <!-- Connect axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.getElementById('buildForm');

    // Catching form
    form.addEventListener('submit', async (event) => {
      event.preventDefault(); // PREVENT DEFAULT

      const buildingType = document.getElementById('buildingType').value;
      const playerId = "<%= player._id %>";  // Добавляем playerId из ejs

      try {
        // POST-request with JSON-data
        const response = await axios.post('/build', {
          buildingType: buildingType,
          playerId: playerId  // Добавляем playerId
        });

        if (response.status === 200) {
          alert('Building successfully created!');
          // Refresh page
          location.reload();
        } else {
          alert('Failed to build.');
        }
      } catch (error) {
        console.error('Error creating building:', error);
        alert('An error occurred while creating the building.');
      }
    });
  </script>
</body>
</html>
